#home{
	background: blue;
	color: white;
}

html, body{
	height: 100%;
}

#conteudo{
	display: flex;
	flex-flow: column;
	height: 100%;
}	

.card{
	background-color: rgb(34, 24, 173);
	color: white;
}

h1{
	color: blue;
	font-size: 2cm;
}

header {
	background-color: blue;
}

.navbar-light .navbar-nav .nav-link {
	color: white;
}

header span{
	color: white;
}

a{
	color: black;
}

.caixa{
	padding: 60px 0;
	border-bottom: 1px solid #e5e5e5;
}

footer p a{
	margin: 5px 15px;
}

footer{
	background: blue;
	color: white;
}

td i:hover{
	cursor: pointer;
}